.chart {
  margin: 0 auto 2em;
  padding: 0 2em;
  max-width: 400px;
  // max-height: 600px;

  @include mQuery(desktop){
    margin: 0;
      // max-width: 800px;

  }

  canvas {
    margin: 0 auto;
  }

  #trafficChart {
    @include mQuery(desktop){
      width: 800px;
    }
  }
}
