header {
  background: $lightPurple;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  @include mQuery(mobile) {
    height: 70px;
    padding: 0 25px;
  }

  .icon {
    cursor: pointer;
    margin-left: 1em;
    align-self: baseline;
		width      : 24px;
		height     : 50px;
    justify-content: flex-start;
		// background : red;
		@include mQuery(mobile) {
				display : none;
		}

		.hamburger {
				width            : 24px;
				height           : 2px;
				background-color : $whiteFontColor;
        position: absolute;
        top: -15px;
        border-radius: 5px;
		}
  }

  .pop-notification {
    position: absolute;
    top: 50px;
    right: 10px;
    background: $whiteFontColor;
    color: $lightPurple;
    border: 1px solid $lineColor;
    display: none;


    h3 {
      font-size: 1.2em;
      padding: .6em .5em;
      border-bottom: 1px $lineColor solid;
    }

    li{
      padding: 1.6em 1em;
      background: darken($whiteFontColor, 5%);
      border-bottom: 1px $lineColor solid;
      font-weight: 300;
    }

    li:last-of-type {
      border: none;
    }

  }

}

header,
#nav,
#profile,
#profile-container {
  @include flexCenter(row);

  @include mQuery(mobile){
    @include flexCenter(row);
  }

}

#profile-container {
  width: 100%;
  justify-content: flex-end;
  @include mQuery(mobile) {

  }
  .profile-alert {
    @include iconSize(12px);
    background: $alertColor;
    position: absolute;
    left: 12px;
    top: -3px;
    border-radius: 50%;
    border: 1px solid $whiteFontColor;
  }
}

#logo {
  margin-left: 1em;

    h1 {
      font-size: $fontMedium;
      padding: 15px;
      font-weight: bold;
      @include mQuery(mobile){
        font-size: $fontMedium;
      }
    }
}

#bell-icon {
    padding: 1px;
    position: relative;
    top: 0px;
    right: 0px;

    @include iconSize($iconSmall*.7);

    @include mQuery(mobile){
      @include iconSize($iconSmall*.8);
      position: inherit;
    }
}

#profile {
  border: none;
  @include iconSize($iconSmall);
  margin: 0 0.8em;

  @include mQuery(mobile){
    height: 40px;
    border-left: 1px solid $darkPurple;
  }


  #profile-icon {
    @include iconSize($iconLarge*.6);

    overflow: hidden;

    @include mQuery(mobile){
      @include iconSize($iconSmall);
    }
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
   h5 {
     display: none;
     padding: .5em 0;
     font-weight: 400;
     font-size: $fontLarge;
     @include mQuery(mobile){
       display: inline;
       padding: 0;
       font-size: $fontSmall;;
     }
   }

}
