
.nav li {

  // justify-content: space-between;
}

.nav {
  background: $darkPurple;


 li {
   @include flexLeft(row);
   cursor: pointer;
   border-bottom: 1px solid $whiteFontColor;
   padding: 1em 3em;

   @include mQuery(mobile){
     // @include iconSize($iconSmall);
   }

     a {
       margin-right: 2em;
      //  padding: 0 50px;
         @include iconSize($iconSmall);

         img {
           width: 100%;
         }
     }

   }


 }
