#main-nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50px;
}

.nav:after{
  content: "";
  height: 100px;
  background: black;

}

.nav {
  background: $darkPurple;

 li {
   @include flexLeft(row);
   cursor: pointer;
   padding: 1em 2em;

   &:hover {
     background: lighten($darkPurple, 10%);
   }

   @include mQuery(mobile){
     // @include iconSize($iconSmall);
   }

     a {
       margin-right: 2em;
      //  padding: 0 50px;
         @include iconSize($iconSmall);

         img {
           width: 100%;
         }
     }

   }


 }
