.member {
  li:first-of-type{
    @include iconSize($iconSmall*4);
    margin: 1.2em auto;

  }
  li {
    margin: .7em auto;

    img {
      width: 100%;
      border-radius: 50%;
    }

    h1 {
    font-size: 1.3em;
    font-weight: 700;

    }

    h3 {
      color: $lightPurple;
      font-weight: 300;
    }

    p {
      font-weight: 300;
    }

  }

}
