.members {
  @include flexCenter(column);

  padding: 0 1em;

  @include mQuery(tablet){
    padding: 4em;
  }
  @include mQuery(desktop){
    padding: 0;
  }
}

.new-member {
  @include flexCenter(row);
  // justify-content: space-around;
  justify-content: flex-start;
  width: 100%;
  margin: .2em 0;

  ul:first-of-type li:first-of-type{
    @include iconSize($iconSmall*1.4);
    // margin: 1.2em auto;

  }
  ul {
    text-align: left;
    padding-left: 1em;
  }

  li {
    margin: .5em 0;
    margin-left: auto;

    img {
      width: 100%;
      border-radius: 50%;
    }

    .name {
    font-size: .9em;
    // font-weight: 700;

    }

    .email {
      color: $lightPurple;
      font-weight: 300;
    }

    .date {
      font-weight: 300;
    }

  }

}
