.recent {
  // padding: 0 1em;

  @include mQuery(tablet){
    // padding: 4em;
  }
}

.members {
  @include flexCenter(column);
}

.recent-member {
  @include flexCenter(row);
  justify-content: flex-start;


  @include mQuery(tablet){
    margin-left: 4.2em;
  }
  @include mQuery(desktop){
    margin-left: 0;
  }

  .icon {
    width: 3em;
    padding: .5em;
    margin-right: .5em;
  }

  ul {
    text-align: left;
  }

  li {
    margin: .5em 0;
    margin-left: auto;

    img {
      width: 100%;
      border-radius: 50%;
    }

    h1 {
    font-size: 1.1em;
    font-weight: 700;

    }

    h3 {
      color: $lightPurple;
      font-weight: 300;
    }

    p {
      font-weight: 300;
      font-size: .85em;
    }

  }

}
