.section .card {
  @extend %borderRadius;
  border: 1px $grayLightColor solid;
  margin: 2em auto;
  width: 80%;
  max-width: 250px;

  @include mQuery(tablet){

    margin: 0.8em 0.8em;
  }

  ul {
    margin: 5px auto;
    @include flexCenter(row);
    justify-content: space-between;
    padding: 0 2.6em;

     li:first-of-type {
       @include iconSize($iconSmall*1.2);
      background: $lightPurple;
      border-radius: 50%;
      @include flexCenter(row);
      max-width: $iconSmall*1.2;
    }

    svg {
      width: 50%;
      fill: white;
      // padding: 10px;
    }

    .twitter-icon {
      width: 85%;
      position: relative;
top: 10px;
left: 8px;
    }

    h2 {
      font-size: 1.2em;
      margin: 5px 0;
      font-weight: 600;
      color: $lightPurple;
      text-align: right;
    }
    p {
      font-size: 2em;
      font-weight: 300;
      color: lighten($grayDarkColor, 20%);
    }
  }

}

.social-cards{

  @include mQuery(tablet){
    @include flexCenter(row);
    flex-wrap: wrap;
    padding: 2em;
    margin: 0.8em 0.8em;
  }
}
