.line {
  margin: 0 auto; }

.section > h1, .section > h2 {
  margin: 1em 0; }

.section > h1 {
  font-size: 2em; }

.section > h2 {
  font-size: 1.125em; }

.line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.section .card {
  border-radius: 1em; }

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 2em 3em;
  justify-content: space-between; }

.toggle {
  position: relative;
  width: 95px;
  height: 25px;
  border-radius: 40px; }

.container > p {
  font-weight: 300; }

.toggle input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  width: 84px;
  height: 34px; }

.toggle input:checked ~ .btn {
  left: 63px; }

.toggle input:checked ~ .bg {
  background: linear-gradient(#809e2f, #a5c04d); }

.toggle input:checked ~ .labels:before {
  left: 12px;
  opacity: 1; }

.toggle input:checked ~ .labels:after {
  opacity: 0;
  right: 25px; }

.toggle .btn {
  display: block;
  position: absolute;
  z-index: 4;
  top: -2px;
  left: 0px;
  width: 29px;
  height: 29px;
  background: linear-gradient(#fdfdfd 0%, white 3%, #fcfcfc 13%, #e4e4e4 50%, #dddddd 55%, #d0d0d0 85%, #cdcdcd 100%);
  border-radius: 50px;
  box-shadow: 0 5px 5px rgba(50, 50, 50, 0.2);
  transition: left 0.25s ease; }

.toggle .labels {
  position: absolute;
  top: 7px;
  left: 0;
  z-index: 2;
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

.toggle .labels:before {
  content: "On";
  position: absolute;
  opacity: 0;
  left: 55px;
  transition: all 0.25s ease; }

.toggle .labels:after {
  content: "Off";
  position: absolute;
  opacity: 1;
  right: 12px;
  transition: all 0.25s ease; }

.toggle .bg {
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 94px;
  height: 100%;
  border-radius: 40px;
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(#9e2f2f, #c04d4d); }

.input {
  margin: 0 auto 1em;
  min-width: 320px;
  width: 80%;
  height: 35px;
  padding-left: 10px;
  color: #2d3945;
  border: 1px solid #888;
  border-radius: 5px;
  font-size: .9em; }

.message-box {
  height: 100px;
  padding-top: 10px; }

#albums {
  color: #888;
  font-size: .75em; }

button[type='submit'] {
  border: 1px solid #eee;
  background: #7477bf;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  margin: .5em auto 1em;
  display: block;
  width: 80%;
  min-width: 320px;
  text-align: center;
  font-weight: 300;
  border-radius: .25em;
  font-size: 1em;
  cursor: pointer; }

#cancel {
  background: #888; }

.icon .hamburger {
  transition: all 0.6s 0s cubic-bezier(1, -0.3, 0.35, 1.335); }
.icon .line-top {
  transform: translateY(30px); }
.icon .line-mid {
  transform: translateY(40px) scaleX(1); }
.icon .line-bottom {
  transform: translateY(50px); }
.icon .line-top-anim {
  transform: translateY(40px) rotate(45deg); }
.icon .line-mid-anim {
  transform: translateY(40px) scale(0); }
.icon .line-bottom-anim {
  transform: translateY(40px) rotate(-45deg); }

* {
  text-decoration: none; }

body {
  background: #eee;
  color: #fff;
  font-family: "Open Sans", sans-serif; }

a {
  color: #fff; }

ul {
  list-style-type: none; }

.line {
  width: 90%;
  height: 1px;
  color: rgba(0, 0, 0, 0.1); }

.section {
  text-align: center;
  color: #888; }

.section > h2 {
  text-transform: uppercase; }

.mockup {
  width: 100%;
  max-width: 1200px;
  height: 2000px; }
  @media (min-width: 768px) {
    .mockup {
      background-image: url("../dashboard.png");
      top: 0px;
      margin: auto;
      z-index: -1000;
      position: absolute;
      left: 10%;
      right: 10%;
      background-repeat: no-repeat; } }

header {
  background: #7477bf;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; }
  @media (min-width: 450px) {
    header {
      height: 70px;
      padding: 0 25px; } }
  header .icon {
    cursor: pointer;
    margin: 0 1em;
    align-self: baseline;
    width: 50px;
    height: 50px;
    justify-content: flex-start; }
    @media (min-width: 450px) {
      header .icon {
        display: none; } }
    header .icon .hamburger {
      width: 24px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: -7px;
      border-radius: 5px; }

header,
#nav,
#profile {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center; }
  @media (min-width: 450px) {
    header,
    #nav,
    #profile {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center; } }

#nav {
  width: 100%;
  justify-content: flex-end; }

#logo h1 {
  font-size: 1.2em;
  padding: 5px;
  font-weight: bold; }
  @media (min-width: 450px) {
    #logo h1 {
      font-size: 1.2em; } }

#bell-icon {
  padding: 15px;
  top: 0px;
  right: 0px;
  width: 23.8px;
  height: 23.8px; }
  @media (min-width: 450px) {
    #bell-icon {
      width: 27.2px;
      height: 27.2px;
      position: inherit; } }

#profile {
  border: none; }
  @media (min-width: 450px) {
    #profile {
      height: 40px;
      border-left: 1px solid #4e4a71; } }
  #profile #profile-icon {
    width: 33px;
    height: 33px;
    overflow: hidden;
    padding: 15px; }
    @media (min-width: 450px) {
      #profile #profile-icon {
        width: 34px;
        height: 34px; } }
    #profile #profile-icon img {
      width: 100%;
      border-radius: 50%; }
  #profile h5 {
    display: none;
    padding: .5em 0;
    font-weight: 400;
    font-size: 2em; }
    @media (min-width: 450px) {
      #profile h5 {
        display: inline;
        padding: 0;
        font-size: 0.75em; } }

#main-nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 63px; }

.nav:after {
  content: "";
  height: 100px;
  background: black; }

.nav {
  background: #4e4a71; }
  .nav li {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 1em; }
    .nav li a {
      margin-right: 2em;
      width: 34px;
      height: 34px; }
      .nav li a img {
        width: 100%; }

main #chart-links {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 2em; }
  main #chart-links li {
    cursor: pointer;
    padding: .25em 1em;
    border-radius: 3em;
    background: #eee; }
  main #chart-links .active {
    color: #fff;
    background: #81c98f; }

.chart {
  margin: 0 0 2em 0;
  padding: 0 2em;
  max-width: 400px; }

.section .card {
  border: 1px #888 solid;
  margin: 2em auto;
  width: 80%;
  max-width: 400px; }
  .section .card ul {
    margin: 5px auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 0 3em; }
    .section .card ul li:first-of-type {
      width: 40.8px;
      height: 40.8px;
      background: #7477bf;
      border-radius: 50%;
      margin: 5px;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center; }
    .section .card ul svg {
      width: 50%;
      fill: white;
      padding: 10px; }
    .section .card ul h2 {
      font-size: 1.2em;
      margin: 5px 0;
      font-weight: 600;
      color: #7477bf;
      text-align: left; }
    .section .card ul p {
      font-size: 2em;
      font-weight: 300;
      color: #555555; }

.members {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden; }

.new-member,
.recent-member {
  position: relative;
  left: 30px; }
  .new-member ul,
  .recent-member ul {
    width: 320px; }
  .new-member li:first-of-type,
  .recent-member li:first-of-type {
    width: 136px;
    height: 136px;
    margin: 1.2em auto; }
  .new-member li,
  .recent-member li {
    margin: .7em auto; }
    .new-member li img,
    .recent-member li img {
      width: 100%;
      border-radius: 50%; }
    .new-member li h1,
    .recent-member li h1 {
      font-size: 1.3em;
      font-weight: 700; }
    .new-member li h3,
    .recent-member li h3 {
      color: #7477bf;
      font-weight: 300; }
    .new-member li p,
    .recent-member li p {
      font-weight: 300; }

/*# sourceMappingURL=applicationstyles.css.map */
