.line {
  margin: 0 auto; }

.section > h1, .section > h2 {
  margin: 1em 0; }

.section > h1 {
  font-size: 2em;
  font-weight: 700; }

.section > h2 {
  font-size: 1.125em; }

.line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.section .card {
  border-radius: .5em; }

.toggle {
  position: relative;
  width: 95px;
  height: 25px;
  border-radius: 40px; }

.toggle input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: -5px;
  left: -10px;
  z-index: 6;
  width: 84px;
  height: 29px; }

.toggle input:checked ~ .btn {
  left: 47px; }

.toggle input:checked ~ .bg {
  background: linear-gradient(#809e2f, #a5c04d); }

.toggle input:checked ~ .labels:before {
  left: 11px;
  opacity: 1; }

.toggle input:checked ~ .labels:after {
  opacity: 0;
  right: 25px; }

.toggle .btn {
  display: block;
  position: absolute;
  z-index: 4;
  top: -3px;
  border: 1px solid #7477bf;
  left: -2px;
  width: 29px;
  height: 29px;
  background: linear-gradient(#fdfdfd 0%, white 3%, #fcfcfc 13%, #e4e4e4 50%, #dddddd 55%, #d0d0d0 85%, #cdcdcd 100%);
  border-radius: 50px;
  box-shadow: 0 5px 5px rgba(50, 50, 50, 0.2);
  transition: left 0.25s ease; }

.toggle .labels {
  position: absolute;
  top: 6px;
  left: 0;
  z-index: 2;
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

.toggle .labels:before {
  content: "On";
  position: absolute;
  opacity: 0;
  left: 55px;
  transition: all 0.25s ease; }

.toggle .labels:after {
  content: "Off";
  position: absolute;
  opacity: 1;
  right: 28px;
  transition: all 0.25s ease; }

.toggle .bg {
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 75px;
  height: 100%;
  border-radius: 40px;
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(#9e2f2f, #c04d4d); }

.input,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em; }

.input {
  margin: 0 auto 1em;
  min-width: 270px;
  width: 80%;
  max-width: 500px;
  height: 35px;
  padding-left: 10px;
  color: #2d3945;
  border: 1px solid #888;
  border-radius: 5px; }

@media (min-width: 1024px) {
  .input-main {
    position: absolute;
    top: 0;
    right: 30px; } }

.message-box {
  height: 100px;
  padding-top: 10px; }

.ui-widget {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  color: #888; }

button[type='submit'] {
  border: 1px solid #eee;
  background: #7477bf;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  margin: .5em auto 1em;
  display: block;
  width: 80%;
  max-width: 300px;
  min-width: 270px;
  text-align: center;
  font-weight: 300;
  border-radius: .25em;
  font-size: 1em;
  cursor: pointer; }
  button[type='submit']:focus {
    outline: -webkit-focus-ring-color auto 0px; }
  @media (min-width: 1024px) {
    button[type='submit'] {
      max-width: 1000px;
      min-width: 190px; } }

#cancel {
  background: #888; }

@media (min-width: 768px) {
  .button-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; } }

.icon .hamburger {
  transition: all 0.42s 0s cubic-bezier(1, -0.3, 0.35, 1.335); }

.icon .line-top {
  transform: translateY(30px); }

.icon .line-mid {
  transform: translateY(40px) scaleX(1); }

.icon .line-bottom {
  transform: translateY(50px); }

.icon .line-top-anim {
  transform: translateY(40px) rotate(45deg); }

.icon .line-mid-anim {
  transform: translateY(40px) scale(0); }

.icon .line-bottom-anim {
  transform: translateY(40px) rotate(-45deg); }

.overlay {
  position: absolute;
  top: 57%;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  background: rgba(116, 119, 191, 0.75);
  width: 80%;
  opacity: 0;
  border-radius: .5em; }
  .overlay .msgContainer {
    color: #fff;
    padding: 2em;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase; }

.timezone-container {
  position: relative; }

.overlay2 {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  background: rgba(116, 119, 191, 0.75);
  max-width: 400px;
  width: 80%;
  border-radius: .5em; }
  .overlay2 .msgContainer2 {
    color: #fff;
    padding: 2em;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase; }

* {
  text-decoration: none;
  box-sizing: border-box; }

body {
  background: #eee;
  color: #fff;
  font-family: "Open Sans", sans-serif; }

a {
  color: #fff; }

ul {
  list-style-type: none; }

.line {
  width: 90%;
  height: 1px;
  color: rgba(0, 0, 0, 0.1); }
  @media (min-width: 1024px) {
    .line {
      display: none; } }

.section {
  text-align: center;
  color: #888; }
  @media (min-width: 1024px) {
    .section {
      position: relative;
      text-align: left;
      padding-left: 1em; } }

.section > h2 {
  text-transform: uppercase; }

.content {
  width: 100%;
  max-width: 1200px; }
  @media (min-width: 1024px) {
    .content {
      margin: 0 auto;
      position: relative; } }

@media (min-width: 1024px) {
  .flex-sections {
    display: flex;
    flex-wrap: wrap;
    margin-left: 59px; } }

@media (min-width: 1024px) {
  .flex-item {
    width: 480px;
    border: 1px solid rgba(0, 0, 0, 0.1); } }

header {
  background: #7477bf;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; }
  @media (min-width: 768px) {
    header {
      height: 70px;
      padding: 0 25px;
      position: inherit; } }
  header .icon {
    cursor: pointer;
    margin-left: 1em;
    align-self: baseline;
    width: 74px;
    height: 50px;
    justify-content: flex-start; }
    @media (min-width: 768px) {
      header .icon {
        display: none; } }
    header .icon .hamburger {
      width: 24px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: -15px;
      border-radius: 5px; }
  header .pop-notification {
    position: absolute;
    top: 50px;
    right: 10px;
    background: #fff;
    color: #7477bf;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1; }
    @media (min-width: 1024px) {
      header .pop-notification {
        top: 70px; } }
    header .pop-notification h3 {
      font-size: 1.2em;
      padding: .6em .5em;
      border-bottom: 1px rgba(0, 0, 0, 0.1) solid; }
    header .pop-notification li {
      padding: 1.6em 1em;
      background: #f2f2f2;
      border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
      font-weight: 300; }
    header .pop-notification li:last-of-type {
      border: none; }

header,
#nav,
#profile,
#profile-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center; }
  @media (min-width: 500px) {
    header,
    #nav,
    #profile,
    #profile-container {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center; } }

#profile-container {
  width: 100%;
  justify-content: flex-end; }
  #profile-container .profile-alert {
    width: 12px;
    height: 12px;
    background: #bf748f;
    position: absolute;
    left: 12px;
    top: -3px;
    border-radius: 50%;
    border: 1px solid #fff; }

#logo h1 {
  font-size: 1.2em;
  font-weight: 300; }
  @media (min-width: 500px) {
    #logo h1 {
      font-size: 1.2em; } }
  #logo h1 strong {
    font-weight: bold; }

#bell-icon {
  padding: 1px;
  position: relative;
  top: 0px;
  right: 0px;
  width: 23.8px;
  height: 23.8px; }
  @media (min-width: 500px) {
    #bell-icon {
      width: 27.2px;
      height: 27.2px; } }

#profile {
  border: none;
  width: 34px;
  height: 34px;
  margin: 0 0.8em; }
  @media (min-width: 500px) {
    #profile {
      height: 40px;
      border-left: 1px solid #4e4a71;
      width: 150px;
      margin: 0 0 0 0.8em; } }
  #profile #profile-icon {
    width: 33px;
    height: 33px;
    overflow: hidden; }
    @media (min-width: 500px) {
      #profile #profile-icon {
        width: 34px;
        height: 34px; } }
    #profile #profile-icon img {
      width: 100%;
      border-radius: 50%; }
  #profile h5 {
    display: none;
    padding: .5em 0;
    font-weight: 400;
    font-size: 2em; }
    @media (min-width: 500px) {
      #profile h5 {
        display: inline;
        padding: 0;
        font-size: 0.75em;
        margin-left: 1em; } }

#main-nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50px;
  left: -350px; }
  @media (min-width: 768px) {
    #main-nav {
      display: block;
      position: fixed;
      left: 0;
      width: 60px;
      top: 70px; } }
  @media (min-width: 1024px) {
    #main-nav {
      position: absolute; } }

.nav:after {
  content: "";
  height: 100px;
  background: black; }

.nav {
  background: #4e4a71; }
  @media (min-width: 1024px) {
    .nav {
      height: 100%; } }
  .nav li {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 1em 2em; }
    .nav li:hover {
      background: #635e90; }
    @media (min-width: 768px) {
      .nav li {
        padding: 1em; }
        .nav li h1 {
          display: none; } }
    .nav li a {
      margin-right: 2em;
      width: 34px;
      height: 34px; }
      @media (min-width: 768px) {
        .nav li a {
          margin: 0; } }
      .nav li a img {
        width: 100%; }

main {
  margin-top: 4em;
  margin-left: 0; }
  @media (min-width: 768px) {
    main {
      margin-top: 1em; } }
  @media (min-width: 1024px) {
    main {
      margin-left: 80px; } }
  main .alert {
    background: #bf748f;
    padding: 0 1.15em;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    min-width: 270px;
    width: 80%;
    margin: 0 auto 1em;
    border-radius: .5em; }
    main .alert p {
      color: #fff;
      font-weight: 300;
      text-align: left;
      font-size: .8em; }
      main .alert p strong {
        font-weight: bold; }
    main .alert .fa {
      color: rgba(255, 255, 255, 0.5);
      font-size: 1.3em;
      margin: .3em 0 .3em auto;
      cursor: pointer;
      transition: color .4s ease-in-out; }
      main .alert .fa:hover {
        color: #fff; }
  main #dashboard-text {
    margin-bottom: .5em; }
    @media (min-width: 768px) {
      main #dashboard-text {
        margin-top: 0em; } }
  main #chart-links {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 2em;
    font-size: .9em; }
    @media (min-width: 1024px) {
      main #chart-links {
        position: absolute;
        top: 121px;
        right: 20px; } }
    main #chart-links li {
      cursor: pointer;
      padding: .25em 1em;
      border-radius: 3em; }
      main #chart-links li a {
        color: #888;
        transition: all .2s ease-in-out; }
        main #chart-links li a:hover {
          color: #4e4a71; }
    main #chart-links .active {
      background: #81c98f; }
      main #chart-links .active a {
        color: #fff; }
        main #chart-links .active a:hover {
          color: #fff; }

.chart {
  margin: 0 auto 2em;
  padding: 0 2em;
  max-width: 400px; }
  @media (min-width: 1024px) {
    .chart {
      margin: 0; } }
  .chart canvas {
    margin: 0 auto; }
  @media (min-width: 1024px) {
    .chart #trafficChart {
      width: 800px; } }

.section .card {
  border: 1px #888 solid;
  margin: 2em auto;
  width: 80%;
  max-width: 250px; }
  @media (min-width: 768px) {
    .section .card {
      margin: 0.8em 0.8em; } }
  .section .card ul {
    margin: 5px auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.6em; }
    .section .card ul li:first-of-type {
      width: 40.8px;
      height: 40.8px;
      background: #7477bf;
      border-radius: 50%;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      max-width: 40.8px; }
    .section .card ul svg {
      width: 50%;
      fill: white; }
    .section .card ul .twitter-icon {
      width: 85%;
      position: relative;
      top: 10px;
      left: 8px; }
    .section .card ul h2 {
      font-size: 1.2em;
      margin: 5px 0;
      font-weight: 600;
      color: #7477bf;
      text-align: right; }
    .section .card ul p {
      font-size: 2em;
      font-weight: 300;
      color: #555555; }

@media (min-width: 768px) {
  .social-cards {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em;
    margin: 0.8em 0.8em; } }

.members {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0 1em; }
  @media (min-width: 768px) {
    .members {
      padding: 4em; } }
  @media (min-width: 1024px) {
    .members {
      padding: 0; } }

.new-member {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: .2em 0; }
  .new-member ul:first-of-type li:first-of-type {
    width: 47.6px;
    height: 47.6px; }
  .new-member ul {
    text-align: left;
    padding-left: 1em; }
  .new-member li {
    margin: .5em 0;
    margin-left: auto; }
    .new-member li img {
      width: 100%;
      border-radius: 50%; }
    .new-member li .name {
      font-size: .9em; }
    .new-member li .email {
      color: #7477bf;
      font-weight: 300; }
    .new-member li .date {
      font-weight: 300; }

.members {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.recent-member {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start; }
  @media (min-width: 768px) {
    .recent-member {
      margin-left: 4.2em; } }
  @media (min-width: 1024px) {
    .recent-member {
      margin-left: 0; } }
  .recent-member .icon {
    width: 3em;
    padding: .5em;
    margin-right: .5em; }
  .recent-member ul {
    text-align: left; }
  .recent-member li {
    margin: .5em 0;
    margin-left: auto; }
    .recent-member li img {
      width: 100%;
      border-radius: 50%; }
    .recent-member li h1 {
      font-size: 1.1em;
      font-weight: 700; }
    .recent-member li h3 {
      color: #7477bf;
      font-weight: 300; }
    .recent-member li p {
      font-weight: 300;
      font-size: .85em; }

.message-user {
  position: relative;
  text-align: center; }

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  justify-content: space-between;
  padding: 0 1em;
  max-width: 400px; }
  .container > p {
    font-weight: 300;
    font-size: .9em;
    flex: 1;
    text-align: left; }

.timezone-container {
  text-align: center; }
