
// Site color variables
$background        : #eee;
$whiteFontColor     : #fff;
$grayLightColor     : #888;
$grayDarkColor     : #222;
$lightPurple      : #7477bf;
$darkPurple      : #4e4a71;
$lightGreen      : #81c98f;

$lineColor     : rgba(0, 0, 0, .1);
$overlayColor     : rgba(0, 0, 0, .85);

//Font variables
$fontSmall  : .75em;
$fontMedium        : 1.2em;
$fontLarge         : 2em;
$fontFam           : 'Open Sans', sans-serif;

// Media query breakpoints
$break-mobile      : 450px;
$break-tablet      : 768px;
$break-desktop     : 1024px;

//animation variables
$transitionWhat: all;
$transitionSpeed: .6s;
$transitionDelay: .3s;
$transitionEase: ease-in-out;
$transitionCubic : cubic-bezier(1, -0.3, 0.35, 1.335);

//Buttons and icons variables
$iconSmall: 34px;
$iconLarge: 55px;
$lineWidth         : 90%;
