.icon {
  .hamburger {
     @include moveTransition($transitionWhat, $transitionSpeed*.7, 0s, $transitionCubic);
    //  transition: all .3s $transitionCubic;
  }

  .line-top {
      transform : translateY(30px);
  }

  .line-mid {
      transform : translateY(40px) scaleX(1);
  }

  .line-bottom {
      transform : translateY(50px);
  }

  .line-top-anim {
      transform : translateY(40px) rotate(45deg);
  }

  .line-mid-anim {
      transform : translateY(40px) scale(0);
  }

  .line-bottom-anim {
      transform : translateY(40px) rotate(-45deg);
  }
}

#chart-links > li{
  // @include moveTransition($transitionWhat, .45s, 0s, $transitionCubic);
}
