.input {
  margin: 0 auto 1em;
  min-width : 320px;
  width : 80%;
  height    : 35px;
  padding-left  : 10px;
  color         : #2d3945;
  border: 1px solid $grayLightColor;
  border-radius : 5px;
  font-size: .9em;
}


.message-box {
  height        : 100px;
  padding-top       : 10px;
}

#albums {
  // padding-left  : 10px;
  color         : $grayLightColor;
  // border        : none;
  // border-radius : .25em;
  // background    : #ddd;
  font-size     : .75em;
  option {

  }
}
